.banner {
    &-promociones {
        display: flex;
        flex-direction: column;
        padding-right: 35px;
        justify-content: center;
        align-items: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        position: relative;
        height: 150px;
        width: auto;
        background-image: url(../multimedia/img/banner-principal-rebajas.png);

       @include destock {
            height: 300px;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            justify-content: end;
            font-weight: 600;
            font-size: 100px;
        }

        &-titulo {
            font-weight: 600;
            font-size: 45px;
            color: $colorblanco;
            padding-top: 30px;
            margin-bottom: none;

           @include destock {
                font-size: 120px;
                font-weight: 400;
            }

            &-numero {
                color: $colorblanco;
                font-weight: 800;
                align-items: center;
                font-size: 50px;
                display: flex;
                margin-top: -30px;
                margin-bottom: 30px;
                justify-content: end;

               @include destock {
                    font-size: 150px;
                    color: $colorblanco;
                    margin-top: 50px;
                    padding-right: 100px;
                }

            }
        }

        
    }
    &-historia {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        height: 200px;
        width: auto;
        background-image: url(../multimedia/img/banner-historia.png);
        

       @include destock{
            display: flex;
            flex-direction: column;
            padding-right: 35px;
            justify-content: center;
            align-items: flex-end;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            position: relative;
            height: 450px;
            width: auto;
            background-image: url(../../multimedia/img/banner-historia.png);

        }

    }

    &-rebajas {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #F06B5F;
        height: 40px;
        padding-top: 9px;

       @include destock {
            height: 40px;
        }

        h6 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            background-color: transparent;
            color: #EAEBEB;

            @include destock{
                text-transform: uppercase;
                font-weight: 400;
                background-color: transparent;
                color: #EAEBEB;
                font-size: 18px;
            }
        }
    }
}