.chat-ayuda {
    display: flex;
    justify-content: end;
   @include destock{
        
        // margin-top: 50px;
    }

    img{
        width: 200px;
        height: auto;
        margin-bottom: 40px;
        
       @include destock{
            margin-top: -30px;
            margin-right: 40px;
            
            
        }

    }
}
