.chat-ayuda {
    display: flex;
    justify-content: end;
    margin-right: 20px;

   @include desktop{
        margin-top: 20px;
    }

    img{
        width: 200px;
        height: auto;
        margin-bottom: 40px;
        
       @include desktop{
            margin-top: -30px;
            margin-right: 40px;
            
            
        }

    }
}
