.chat-ayuda {
    display: flex;
    justify-content: end;
    @media (min-width: 550px){
        
        // margin-top: 50px;
    }

    img{
        width: 200px;
        height: auto;
        margin-bottom: 40px;
        
        @media (min-width: 550px){
            margin-top: -30px;
            margin-right: 40px;
            
            
        }

    }
}
