footer {
    background-color: #2A3040;
    width: 100%;
    height: auto;
    padding: 30px;
    padding-left: 30px;
    padding-left: 30px;


    @media (min-width: 550px) {
        // position: relative;
        display: flex;
        padding: 30px;
        padding-left: 100px;
        padding-right: 100px;
    }

    h6 {
        color: $colorblanco;
        font-size: 15px;
    }

    .columna1 {

        @media (min-width: 550px) {
            margin-right: 200px;
        }

        &-iconos {
            @media (min-width: 550px) {
                display: block;
                justify-content: end;
            }

            &-redes {
                display: block;
                margin-top: 20px;

                img {
                    margin-bottom: 20px;
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }
            }
        }


    }

    .columna2 {
        padding-top: 20px;

        @media (min-width: 550px) {
            padding-top: 90px;
            margin-right: 100px;
            align-items: end;

        }

        &-iconos {
            &-pago {
                display: flex;

                img {
                    border-radius: 4px;
                    margin-right: 10px;
                    width: 32px;
                    height: auto;

                }

            }

        }

    }
}