footer {
    background-color: #2A3040;
    width: 100%;
    height: auto;
    padding: 30px;
    padding-left: 30px;
    padding-left: 30px;

   @include desktop {
        padding: 30px;
        padding-left: 100px;
        padding-right: 100px;
    }

    h6 {
        color: $colorblanco;
        font-size: 15px;
    }

    .columna1 {
        &-iconos {
           @include desktop {
                display: block;
                justify-content: start;
            }

            &-redes {
                display: block;
                margin-top: 20px;

                img {
                    margin-bottom: 20px;
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }
            }
        }


    }

    .columna2 {
        padding-top: 20px;
       @include desktop {
            display: flex;
            justify-content: end;
            align-items: center;
        }
        h6{
            @include desktop{
                padding-right: 10px;
                margin: 0;
            }
        }

        &-iconos {
            &-pago {
                display: flex;
                img {
                    border-radius: 4px;
                    margin-right: 10px;
                    width: 32px;
                    height: auto;
                }

            }

        }

    }
}

.input-group{
&-text{
    padding: 0 8px;
}
.form-control{
    padding: 0;
}
}