.historia {
    &-titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        h1 {
            font-size: 40px;
            display: block;
            flex-direction: column;
            justify-content: center;

           @include desktop{
                font-size: 80px;
                display: flex;
            }
        }

        h5 {
            padding: 100px;
        }
    }

    &-texto {
        font-size: 15px;
        text-align: center;

       @include desktop {
            
            padding-top: 10px;
            font-size: 16px;
            text-align: center;

        }

        h5 {
            font-size: 18px;
            padding-top: 30px;
            color: $colorturquesaoscuro;
            font-weight: 600;

           @include desktop {
                font-size: 20px;
                font-weight: 600;
                padding-top: 40px;
            }

        }
    }
}

.contenedor {
    display: block;

   @include desktop {
        display: flex;
        align-items: center;


    }

    &-historia {

        &-foto {
            display: block;

           @include desktop {
                display: flex;
                justify-content: space-between;
                padding: 0 40px;
                padding-bottom: 40px;

            }

            img {

                width: auto;
                height: 200px;
                margin-top: 30px;
                flex-direction: column;
                justify-content: center;
                margin-left: 40px;
                padding-bottom: 10px;

               @include desktop {
                    width: 100%;
                    height: auto;
                    padding: 0 10px;
                }
            }
        }

    }
}