.navegador {
    background-color: $colorazul;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;

    @include destock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 100px;
        padding-bottom: -0px;
        padding-right: 100px;
    }

    &-logo {
        display: flex;
        justify-content: center;

        @include destock {
            display: flex;
            justify-content: flex-start;
        }

        img {
            width: 200px;
            height: auto;
        }
    }

    &-menu {
        display: flex;
        display: inline-block;
        margin-bottom: -40px;

        img {
            width: 35px;
        }
    }

    &-ul {
        @include destock {
            justify-content: center;
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-lista {
            position: relative;
            top: 0;

            @include destock {
                font-weight: 600;
                list-style-type: none;
                text-decoration: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #2A3040;
                width: 100%;
                flex-direction: row;
                position: relative;
                top: 0;

                li {
                    @include destock {
                        padding: 10px;
                        list-style-type: none;
                        text-decoration: none;
                    }

                    a {
                        @include destock {
                            text-decoration: none;
                            color: #EAEBEB;
                            font-size: 18px;
                            position: relative;
                            display: block;
                            margin: 20px 0;
                            padding: 10px 20px;
                            text-decoration: none;
                            color: $colorblanco;
                            font-family: $fontopensans;
                            font-size: 18px;
                            font-weight: 600;
                            transition: .5s;
                            z-index: 1;

                            &:before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-top: 1px solid $colornaranja;
                                border-bottom: 1px solid $colornaranja;
                                transform: scaleY(2);
                                opacity: 0;
                                transition: .3s;
                            }

                            &:after {
                                content: '';
                                position: absolute;
                                top: 2px;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                transform: scale(0);
                                opacity: 0;
                                transition: .3s;
                                z-index: -1;
                            }

                            &:hover {
                                color: #fff;

                                &:before {
                                    transform: scaleY(1);
                                    opacity: 1;
                                }

                                &:after {
                                    transform: scaleY(1);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }





        &-contenedor {
            @include destock {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        
    }
    &-boton {
        &-icono {
            border-radius: 30px 30px 30px 30px;
            border-color: transparent;
            width: 32px;
            height: 32px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);

            img {
                height: 20px;
                width: 20px;
            }
        }
    }


    &-boton {
        &-icono:last-child {
            margin-right: 0;
        }
    }

    &-icono {
        &-contenedor {
            display: flex;
            justify-content: end;
            flex-direction: row;
            height: auto;
            margin-right: 20px;

            @include destock {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 0;
            }
        }
    }
}