.contenedor-tarjetamaestra {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .contenedor {
        &-titulo {
            &-secciones {
                font-weight: 300;
                padding-top: 30px;
                margin-left: 15px;

                @include destock {
                    font-weight: 400;
                    padding-top: 40px;
                }
            }
        }

        &-tarjeta {
            width: 100%;
            margin-left: auto;
            margin-right: auto;

            &-producto {
                display: block;

                @include destock {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 16px;
                    height: auto;
                    max-width: 100%;
                    border-bottom: none !important;
                }

                &-imagen {
                    img {
                        @include destock {
                            width: 100%;
                            height: 200px;
                        }
                    }
                }
            }
        }

    }

}



.botonchip {
    &-compra {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        &-icono {
            margin-top: -10px;
            padding: 0 15px;
            height: 30px;
            color: #EAEBEB;
            font-size: 12px;
            border-color: transparent;
            border-radius: 25px;
            background-color: #3F525A;
            font-weight: 600;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.10);

            &:hover {
                background: #617077;
            }
        }
    }
}




.tarjeta {
    &-producto {
        max-height: fit-content;
        transition: 0.4s;
        max-width: 89%;
        display: block;
        border-bottom: #3F525A 0.75px solid;
        padding-top: 30px;

        @include destock {
            padding: 30px 0;

        }

        &-imagen {
            img {
                height: auto;
                max-width: 100%;
                object-fit: cover;
                border-radius: 10px;
                margin-bottom: 8px;
            }
        }

        &-titulo {
            padding-top: 10px;
            text-align: left;
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
            padding-bottom: 8px;
        }

        &-texto {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 15px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @include destock {
                font-size: 14px;
                font-weight: 500;
                margin-top: 2px;
            }

            &-origen {
                font-size: 13px;
                font-weight: 600;

                &-texto {
                    &-origen {
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
            }

            &-gramos {
                font-weight: 700;
                font-size: 16px;
                color: $colornaranja;
            }
        }

        .estrellas {
            margin-left: -5px;
        }

        .texto {
            &-tarjeta {
                &-precio {
                    color: #F06B5F;
                    font-weight: 700;
                    margin-top: -1px;
                    font-size: 18px;

                    @include destock {
                        color: #F06B5F;
                        font-weight: 700;
                        margin-top: -1px;
                        font-size: 20px;
                    }
                }

                &-iva {
                    font-size: 12px;
                }
            }
        }

        .botonchip-compra {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            margin-bottom: 20px;

            @include destock {
                padding-top: 10px;
                margin-bottom: 0;
            }

            &-icono {
                margin-top: -10px;
                padding: 0 15px;
                height: 30px;
                color: #EAEBEB;
                font-size: 12px;
                border-color: transparent;
                border-radius: 25px;
                background-color: #3F525A;
                font-weight: 600;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.10);

                &:hover {
                    background: $colorazul;
                }
            }
        }

    }

}



.contenedor {
    &-tarjeta {
        &-receta {
            width: 100%;
            display: block;

            @include destock {
                padding-left: 10px;
                padding-right: 10px;
                display: flex;
            }

            .tarjeta {
                &-receta {
                    &-icono {
                        display: block;

                        @include destock {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        &-play {
                            position: absolute;
                            margin-left: 120px;
                            margin-top: 80px;

                            @include destock {
                                position: absolute;
                                margin-top: 100px;
                                margin-left: 140px;

                            }

                        }
                    }

                    &-imagen {
                        img {
                            height: auto;
                            width: 100%;
                            object-fit: cover;
                            height: auto;
                            border-radius: 10px;
                            margin-top: 20px;
                            margin-bottom: 10;
                            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.10);
                        }
                    }

                    &-titulo {
                        padding-top: 10px;
                        font-weight: 600;
                        font-size: 18px;
                    }

                    &-dificultad {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;

                        &-texto {
                            font-size: 13px;
                            font-weight: 600;
                            align-items: start;
                            padding-top: 4px;
                        }

                        &-imagen {
                            img {
                                width: 120px;
                                height: auto;
                                padding-left: 8px;
                            }
                        }
                    }

                }
            }

        }
    }

}


.linea-horizontal-secciones {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 5px;
    background-color: #3F525A;
    height: 1px;
}


.contenedor-tarjeta {
    .contenedor {
        &-titulo {
            &-secciones {
                font-weight: 300;
                padding-top: 30px;
                margin-left: 15px;

                @include destock {
                    font-weight: 400;
                    padding-top: 40px;
                }
            }
        }
    }
}

.titulo-principal-tarjeta-clase{
font-size: 15px;
margin-bottom: 0;

}