
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

$fontopensans: "Open Sans", sans-serif;

$colorturquesaoscuro: #3F525A;
$colorturquesa: #165F74;
$colorazul: #2A3040;
$colornaranja: #F06B5F;
$colorblanco: #EAEBEB;

